@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto';
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 10px 25%;

    background-color: #1F2937;
}
    .logo {
        font-size: 24px;
        font-weight: 800;
        color: #F9FAF8;
    }
        .links > ul {
            display: flex;
            gap: 16px;
        }
            .links > ul > li {
                list-style: none;
            }
                .links > ul > li > a {
                    text-decoration: none;
                    color: #E5E7EB;

                    font-size: 18px;
                }
                    .links > ul > li > a:hover {
                        color: #F9FAF8;
                    }

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 125px 25%;
    gap: 16px;

    background-color: #1F2937;
}
    .hero-text {
        max-width: 50%;
    }
        .hero-title {
            font-size: 48px;
            font-weight: bolder;
            color: #F9FAF8;

            margin: 0;
        }
            .hero-subtext {
                font-size: 18px;
                color: #E5E7EB;

                margin: 0px 0px 16px 0px;
            }
                .hero-button {
                    background-color: #3882F6;
                    color: #E5E7EB;
                    font-size: 18px;
                    font-weight: bold;

                    border-style: none;
                    border-radius: 8px;

                    padding: 8px 32px;
                }
    .hero-image {
        width: 50%;
    }
        .hero-image > img {
            width: 100%;
            border-radius: 10px;
        }

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px 25%;
    gap: 16px;
    margin-bottom: 32px;
}
    .feature-section-header {
        font-size: 36px;
        font-weight: 800;
        color: #1F2937;
    }
        .feature-section-content {
            display: flex;
            gap: 48px;
        }
            .feature-section-img {
                height: 172px;
                width: 172px;
                border: 4px solid #3882F6;
                border-radius: 15px;
                margin: 0;
            }
                .feature-section-text {
                    width: 172px;
                    margin: 0;

                    font-size: 18px;
                }
        .feature-section-content-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
        }
        .feature-section-content-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
        }
        .feature-section-content-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
        }
        .feature-section-content-4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
        }

.quote-section {
    background-color: #E5E7EB;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-end;

    padding: 100px 25%;
}
    .quote-text {
        font-size: 36px;
        font-weight: lighter;
        font-style: italic;

        color: #1F2937;
    }
        .quote-sign {
            font-size: 24px;
            font-weight: bolder;
            
            color: #1F2937;

            margin: 0;

            display: flex;
            align-items: flex-end;
        }

.sign-up-section {
    padding: 100px 25%;
}
    .sign-up-banner {
        background-color: #3882F6;

        padding: 32px 64px;
        border-radius: 8px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .sign-up-text {
            display: flex;
            flex-direction: column;
        }
            .sign-up-header {
                font-size: 24px;
                font-weight: bold;
                color: #F9FAF8;

                margin: 0;
            }
                .sign-up-body {
                    color: #F9FAF8;

                    margin: 0;
                }
    .sign-up-button {
        background-color: #3882F6;
        color: #F9FAF8;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid #F9FAF8;
        border-radius: 10px;
        padding: 8px 36px;
    }

.footer {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: center;

    padding: 24px 0px;
    gap: 8px;
}
        